export PYENV_VERSION=$(<python-version)
export NPM_VERSION=8.3.1
export NODE_VERSION=16.15.0

# Include poetry
export PATH="$HOME/.poetry/bin:$PATH"

# Setup nvm & select Node version
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node
use node ${NODE_VERSION}
