{% extends "candidates/base.html" %}

{% block navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link active" href="{% url 'candidates:private-home' %}">VenturaHR - Candidates</a>
        </li>
        {% block basenavbar %}
            {% if not user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'candidates:register' %}">Signup</a>
                </li>
            {% endif %}
        {% endblock basenavbar %}
        <li class="nav-item active">
            <a class="nav-link active" href="{% url 'core:logout' %}">Logout</a>
        </li>
    </ul>
{% endblock navbar %}
