{% extends "companies/base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="container d-flex justify-content-center mt-5">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    <div class="container d-flex justify-content-center mt-3">
        <div>
            <form method="post" action="{% url 'companies:login' %}">
                {% csrf_token %}
                <table>
                    <caption>Company login.</caption>
                    {% block login %}{% endblock login %}
                    <tr>
                        <td>Company</td>
                        <td>{{ form.company }}</td>
                    </tr>
                    <br>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <div class="container d-flex justify-content-center" style="width: 10%;">
                    <input type="submit" class="btn btn-primary btn-lg" value="Login" style="margin-right: 30px; margin-top: 30px;">
                    <a href="{% url 'companies:register' %}"><input type="button" class="btn btn-primary btn-lg" value="Sign-up" style="margin-right: 30px; margin-top: 30px;"></a>
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
