{% extends "base.html" %}

{% block navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link active" href="{% url 'core:home' %}">VenturaHR</a>
        </li>
        <li>
            <a class="nav-link active" href="{% url 'companies:home' %}">Companies</a>
        </li>
        <li>
            <a class="nav-link active" href="{% url 'candidates:home' %}">Candidates</a>
        </li>
        {% block basenavbar %} {% endblock basenavbar %}
    </ul>
{% endblock navbar %}
