{% extends "opportunities/privates/base.html" %}

{% block content %}
    <div class="container d-flex flex-column mt-5">
        {% for opportunity in opportunity_list %}

            <div class="mt-5">
                <a class="nav-item active"
                    href="{% url 'opportunities:private-opportunity' opportunity.id %}">
                    <h2>{{ opportunity.name.title }}</h2></a>
                <h4>{{ opportunity.company.name }}</h4>
                <br/>
                <p><strong>Description:</strong> {{ opportunity.description }}</p>
                <p><strong>Expires At: </strong> {{ opportunity.expires_at }} </p>

                {% block oppportunities_actions %}{% endblock oppportunities_actions %}

            </div>
        {% endfor %}

        {% if is_paginated %}
            <br/>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                    {% endif %}


                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ i }}">{{ i }}<span
                                    class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}
