{% extends "opportunities/privates/base.html" %}

{% block content %}
    <div class="container d-flex justify-content-center mt-5" style="width: 25%;">
        <div class="col">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}

                <h3>New Opportunity</h3>
                <table class="table">
                    {{ opportunityform.as_table }}
                </table>

                <hr>
                <br/>
                <br/>

                <div>
                    <h3 class="mb-3">Opportunity Requirements</h3>
                    <div id="formset-container">
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <div class="formset-form mb-5">
                                <table class="table">
                                    {{ form.as_table }}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="input-group-append">
                        <button id="add-form" class="btn btn-success add-form-row mr-2">+</button>
                        <button id="remove-form" class="btn btn-warning remove-form-row">-</button>
                    </div>
                </div>

                <div class="container d-flex justify-content-center" style="width: 10%;">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit"
                        style="margin-right: 30px; margin-top: 30px;">
                    <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;"
                        onclick="window.location='{% url 'companies:private-home' %}'; return false;"
                        value="Cancel">
                </div>
            </form>


        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        let formSet = document.querySelectorAll(".formset-form")
        let container = document.querySelector("#formset-container")
        let addButton = document.querySelector("#add-form")
        let removeButton = document.querySelector("#remove-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = formSet.length - 1
        addButton.addEventListener('click', addForm)
        removeButton.addEventListener('click', removeForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = formSet[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`, 'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.appendChild(newForm)

            totalForms.setAttribute('value', `${formNum + 1}`)
        }

        function removeForm(e) {
            e.preventDefault()

            let containerItems = container.getElementsByTagName("div")

            if (containerItems.length <= 1) {
                alert("You need to have at least one requirement!")
                return
            }

            formNum--
            containerItems[containerItems.length - 1].remove()

            totalForms.setAttribute('value', `${formNum + 1}`)
        }

    </script>
{% endblock %}
