{% extends "opportunities/privates/base.html" %}

{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="col mt-5">
            <div>
                <h1>{{ opportunity.name.title }}</h1>
                <h4>{{ opportunity.company.name }}</h4>
                <br/>
                <p><strong>Description:</strong> {{ opportunity.description }}</p>
                <p><strong>Expires At: </strong> {{ opportunity.expires_at }} </p>
            </div>

            <div>
                {% if user.is_candidate %}
                    <a class="btn btn-primary btn-lg btn-block" role="button"
                        href="{% url 'opportunities:private-apply-opportunity' opportunity.id %}">
                        Apply
                    </a>
                {% endif %}
            </div>

            <div>
                <h4 class="mt-5">Requirements</h4>
                <hr>
                {% for requirement in opportunity.requirements.all %}
                    <p>
                        {% if user.is_recruiter is True %}[{{ requirement.weight }}]{% endif %}
                        {{ requirement.name }} - {{ requirement.description }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
